<!--<p>left-sidebar works!</p>-->

<div class="left-sidebar">

  <div class="left-sidebar-heading">
    <a id="dashboard-link" href="#/dashboard"><i class="fa-solid fa-grip"></i> Dashboard</a>
  </div>

  <div class="left-sidebar-heading">
    <a id="recent-activity-link" href="#/recent-activity"><i class="fas fa-history"></i> Recent Activity</a>
  </div>

  <div class="left-sidebar-heading">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input id="filter-by-name" type="text">
  </div>

  <div class="all-expenses-lin left-sidebar-heading">
    <a id="all-expenses" href="#/all-expenses"><i class="fa-solid fa-bars"></i> All Expenses</a>
  </div>

  <div class="group">
    <div class="group-header">
      <p>Groups</p>
      <a id="create-new-group" href="#/groups/new"><i class="fa-solid fa-plus"></i> Add</a>
    </div>

    <div class="group-list">
      <span>Group Icon</span>
      <a href="#/groups/001" class="group-item-link">Group 001</a>
      <span>Group Icon</span>
      <a href="#/groups/002" class="group-item-link">Group 002</a>
      <span>Group Icon</span>
      <a href="#/groups/003" class="group-item-link">Group 003</a>
    </div>
  </div>


</div>
